

    .content-box {
      background-color: white;
      max-width: 700px;
      margin: 40px auto;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    }

    .content-box h1 {
      color: black;
      text-align: center;
      font-weight: 600;
      position: relative;
    }

    .content-box h1::after {
      content: "";
      width: 60px;
      height: 3px;
      background: #ccc;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
    }



.CF-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 25px 0 10px;
}

.CF-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1 1 250px;
  min-width: 200px;
}

.CF-box button {
  background-color: #1F5EFF;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  flex: 1 1 120px;
  min-width: 120px;
  transition: 0.3s;
}

.CF-box button:hover {
  background-color: #336CFF;
}


    .description {
      text-align: center;
      font-size: 13px;
      color: #666;
      margin-bottom: 20px;
    }

    .chart-container {
      height: 300px;
      margin-bottom: 20px;
    }

    .verse-text {
      text-align: center;
      color: #444;
      font-size: 16px;
      line-height: 1.6;
    }

    .verse-text span {
      font-style: italic;
      font-size: 14px;
      color: #666;
    }